In [1]:
import pandas as pd
from sklearn.datasets import make_classification

In [2]:
x, y = make_classification(n_samples=60000, n_features= 30)

In [3]:
x.shape

(60000, 30)

In [4]:
y.shape

(60000,)

In [5]:
x.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [6]:
x = pd.DataFrame(x)
y = pd.DataFrame(y)

In [7]:
x.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.823511,-0.137427,-1.246524,-1.397456,1.473852,-1.652657,1.209307,0.215229,1.660977,-0.169253,...,1.208525,0.085705,2.574451,0.484605,-0.031757,1.029165,-1.076993,0.540534,0.959669,1.228510
1,0.657440,-1.477540,-0.868208,0.249285,-0.929358,-1.029508,0.877100,-0.107134,0.178401,-0.455474,...,1.044252,0.727751,-0.147350,-0.011676,1.113813,0.556364,0.433875,0.231775,0.751969,-0.450627
2,-0.823005,0.589055,-0.574597,1.162566,1.860684,-0.484025,-0.715428,-1.079369,0.498428,-1.538459,...,0.550833,-0.539277,-0.861366,0.694501,-0.923289,0.817530,0.740391,-1.077261,1.348192,1.144759
3,-0.067571,-0.051222,0.264623,1.220027,2.108112,0.330075,-0.142545,0.202764,-0.453189,-0.744618,...,-2.046489,0.070408,-0.090408,1.212078,-0.568275,-0.307668,-0.764094,1.069676,1.198691,-0.651995
4,1.145132,1.115417,-0.444576,0.306153,0.000521,2.124301,-0.882424,-1.055735,2.226886,1.270492,...,-1.079636,-1.045324,1.384281,0.286660,1.137647,-0.058723,-0.909732,-0.259051,0.084517,1.684555

In [8]:
y.head()

   0
0  0
1  0
2  1
3  0
4  0

In [9]:
y.value_counts()

0    30004
1    29996
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size= 0.25, random_state= 42 )

In [11]:
xtrain.shape

(45000, 30)

In [12]:
xtest.shape

(15000, 30)

In [13]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [14]:
clf.fit(xtrain, ytrain)

DecisionTreeClassifier()

In [15]:
clf.score(xtest, ytest)

0.8617333333333334

In [16]:
train_scores = []
test_scores = []

In [17]:
max_dep = [n for n in range(1,30)]

In [ ]:
for depth in max_dep:
    clf = DecisionTreeClassifier(max_depth= depth)
    clf.fit(xtrain, ytrain)
    
    #train score
    train_acc = clf.score(xtest, ytest)
    train_scores.append(train_acc)
    
    #test score
    test_acc = clf.score(xtest, ytest)
    test_scores.append(test_acc)
    
    print('for depth = %d, traing_score = %2f, test_score = %f' %(depth, train_acc, test_acc))
#     print('for depth = {}, Traing_Score = {}, Test_Score = {}'.format(depth, train_acc, test_acc))